html {
  height: 100%;
  text-align: center;
  font-family: 'Gochi Hand', sans-serif;
  font-size: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url('../carrotpointer.png'), auto;
  /* cursor: url('https://78.media.tumblr.com/2af06ec2d6d542b9378ab539d1fec41a/tumblr_p6e81uoCjl1tgcve3o1_75sq.png'), auto; */
  /* original: https//teak.io/images/blog/carrot_transparent.png */
}

.firstpage::before {
  content: "";
  background-image: url('https://outrunthezombeez.files.wordpress.com/2016/05/egj0x.gif');
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.lastpage::before {
  content: "";
  background: #fae2cc;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
}

input,
button {
  cursor: url('../carrotpointer.png'), auto;
  border: 5px solid #e9b990;
  outline: none;
  font-family: 'Gochi Hand', sans-serif;
}

button:hover,
input:hover {
  /* h & v offset, blur & spread rad */
  box-shadow: 5px 5px 5px 3px rgba(5, 53, 27, 0.3);
  background: rgb(205, 235, 193);
}

form {
  z-index: 10;
}

body {
  /* min-height: 640px; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 5vh 20vw 4vw;
  font-size: calc(26px + 2vw);
  z-index: 10;
  color: #004800;
}

h2 {
  background: #e9b990;
  opacity: .7;
  margin: 0 22vw;
  font-size: calc(26px + 1vw);
}

button {
  display: hide;
  /* if display: none; uncenters */
}

.text {
  background: white;
  opacity: .8;
  margin: 0 12vw;
}

.username {
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  width: 160px; 
}

.start {
  background: #90c290;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

/* GAME */

.quiz {
  display: none;
  /* padding: 50px; */
}

.ans,
.game {
  display: none;
  /* margin: 10px; */
}

.game {
  position: absolute;
  top: 300px;
  height: 300px;
}

.questions {
  font-size: 45px;
  font-weight: bold;
  background: #e9b990;
}

button {
  font-size: 30px;
  padding: 10px;
  margin: 15px 5vw;
  width: 35vw;
  min-width: 140px;
}

.timer {
  color: white;
  padding: 20px;
}

.turtle {
  width: 90px;
  height: 60px;
  text-align: none;
  position: absolute;
  left: 90px;
  top: 40px;
  transition-duration: 30s;
}

.rabbit {
  width: 150px;
  height: 150px;
  text-align: none;
  position: absolute;
  left: 0;
  top: 8vh;
}

.finishline {
  height: 100px;
  top: 50px;
  left: 80vw;
  position: absolute;
  z-index: 5;
}

.reset {
  margin-top: 10vh;
  /* display: block; */
}

@media (max-width: 768px) {
  .questions {
    font-size: 4vh;
  }
  .text {
    margin: 0 5vw;
    font-size: 4.5vw;
  }
  .turtle {
    width: 75px;
    height: 40px;
    left: 70px;
    top: 140px;
  }
  .rabbit {
    width: 100px;
    height: 100px;
    top: 120px;
    left: 0;
  }
  .finishline {
    height: 40px;
    top: 100px;
    z-index: -1;
  }
  button.ans {
    margin-right: 13vw;
    font-size: 20px;
  }
}
