html {
  height: 100%;
  text-align: center;
  font-family: 'Gochi Hand', sans-serif;
  font-size: 30px;
  cursor: url('../carrotpointer.png'), auto;
}
html, body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.firstpage::before {
  content: "";
  background-image: url('https://outrunthezombeez.files.wordpress.com/2016/05/egj0x.gif');
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.lastpage::before {
  content: "";
  background: #fae2cc;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.7;
}

input,
button {
  cursor: url('../carrotpointer.png'), auto;
  border: 5px solid #e9b990;
  outline: none;
  font-family: 'Gochi Hand', sans-serif;
}
input:hover,
button:hover {
  /* h & v offset, blur & spread rad */
  box-shadow: 5px 5px 5px 3px rgba(5, 53, 27, 0.3);
  background: rgb(205, 235, 193);
}

h1 {
  font-size: calc(26px + 2vw);
  color: #004800;
}
h2 {
  background: #e9b990;
  opacity: 0.7;
  font-size: calc(26px + 1vw);
}
.text {
  background: white;
  opacity: 0.8;
  margin: 0 12vw;
}
.username {
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  width: 160px; 
}
.start {
  background: #90c290;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 0;
}

/* GAME */

.timer {
  color: white;
  padding: 20px;
}
.quiz {
  display: none;
}
.icons {
  display: none;
  position: absolute;
  top: 300px;
  /* height: 300px; */
}
.questions {
  font-size: 4vw;
  font-weight: bold;
  background: #e9b990;
}

button {
  display: hide;
  font-size: 30px;
  padding: 10px;
  margin: 10px 5vw;
  width: 35vw;
  min-width: 140px;
}

.turtle {
  position: absolute;
  width: 90px;
  height: 60px;
  text-align: none;
  left: 90px;
  top: 40px;
  transition-duration: 30s;
  z-index: 3;
}
.finishline {
  position: absolute;
  height: 100px;
  top: 50px;
  left: 80vw;
  z-index: 4;
}
.rabbit {
  position: absolute;
  width: 150px;
  height: 150px;
  text-align: none;
  left: 0;
  top: 8vh;
  z-index: 5;
}

.reset {
  display: none;
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .text {
    margin: 0 5vw;
    font-size: 4.5vw;
  }
  .questions {
    font-size: 4vh;
  }
  button.ans {
    font-size: 20px;
    background: white;
    width: 280px;
  }
  button:hover, input:hover {
    box-shadow: none;
  }
  button, input {
    outline: none;
  }
  .turtle {
    width: 75px;
    height: 40px;
    left: 70px;
    top: 210px;
  }
  .finishline {
    height: 40px;
    top: 170px;
  }
  .rabbit {
    width: 100px;
    height: 100px;
    top: 190px;
    left: 0;
  }
}
