html {
  text-align: center;
  font-family: 'Gochi Hand', sans-serif;
  font-size: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url('../carrotpointer.png'), auto;
  /* cursor: url('https://78.media.tumblr.com/2af06ec2d6d542b9378ab539d1fec41a/tumblr_p6e81uoCjl1tgcve3o1_75sq.png'), auto; */
  /* original: https//teak.io/images/blog/carrot_transparent.png */
}
.index {
  padding: 10vw;
}
input, button {
  cursor: url('../carrotpointer.png'), auto;
  border: 5px solid #e9b990;
  outline: none;
}
button:hover, input:hover {
  box-shadow: 0 10px 20px 0 rgba(5, 53, 27, 0.6), 0 30px 50px 0 rgba(0,0,0,0.2);
  background: rgb(205, 235, 193);
}
form {
  z-index: 10;
}
body {
  min-height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  background: #449a44;
  margin: 5vw 25vw 4vw;
  font-size: calc(30px + 2vw);
  border: 1px black solid;
  z-index: 10;
}
h2 {
  background: #e9b990;
  opacity: .9;
  margin: 0 27vw;
  font-size: calc(26px + 1vw);
} 
button {
  display: hide;
  /* if display: none; idk why uncenters */
}
.text {
  background: white;
  opacity: .8;
  margin: 0 12vw;
}
.username {
  padding: 10px;
  font-size: 20px;
  margin: 15px;
}
.start {
  background: #449a44;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

/* GAME */

.quiz {
  padding: 50px;
}
.ans, .game {
  display: none;
}
.game {
  position: absolute;
  top: 300px;
  height: 300px;
}
.questions {
  font-size: 60px;
  font-weight: bold;
  background: #e9b990;
}
button {
  font-size: 30px;
  padding: 10px;
  margin: 15px 30px;
  width: 300px;
}
.timer {
  color: white;
}
.turtle {
  width: 150px;
  text-align: none;
  position: absolute;
  left: 90px;
  top: 50px;
  transition-duration: 30s;
}
.rabbit {
  width: 500px;
  height: 200px;
  text-align: none;
  position: absolute;
  left: 0;
  /* top: 180px; */
}
.finishline {
  height: 330px;
  top: 50px;
  left: 1000px;
  position: absolute;
  z-index: -1;
}
.reset {
  margin-top: 250px;
  /* display: block; */
}
/* .firstpage {
  z-index: 6;
  background: inherit;
}
div {
  z-index: 5;
  background: inherit;
} 
.overlay {
  opacity: .5;
  background: white;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 1000px;
  width: 1200px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
div:after {
  content: '';
  background: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
  background-image: rbga(0,0,0,.4);
  filter: blur(5px);
  z-index: 3;
} */



@media (max-width: 768px) {
  .text {
    margin: 0 5vw;
    font-size: 24px;
  }
  .turtle {
    width: 150px;
    text-align: none;
    position: absolute;
    left: 90px;
    top: 300px;
    transition-duration: 30s;
  }
  .rabbit {
    width: 150px;
    height: 200px;
    text-align: none;
    position: absolute;
    top: 350px;
    left: 0;
    /* top: 180px; */
  }
  .finishline {
    height: 330px;
    top: 300px;
    left: 300px;
    position: absolute;
    z-index: -1;
  }
}